<header>
    <nav class="bg-black text-white h5 pt-3 pb-3">
      <ul class="d-sm-flex gap-sm-3 text-decoration-none">
        <li class="list-unstyled nav-item">
          <a routerLink="horoscopo"  class="ancla nav-link"> Horoscopo </a>
        </li>
        <li class="list-unstyled nav-item">
          <a routerLink="divisas"  class="ancla nav-link">Convertidor de divisas</a>
        </li>
        <li class="list-unstyled nav-item">
          <a routerLink="music"  class="ancla nav-link"> Musica </a>
        </li>
        <li class="list-unstyled nav-item">
          <a routerLink="videos"  class="ancla nav-link"> Buscador de videos </a>
        </li>
      </ul>
    </nav>
  </header>