<section class="row bg-secondary">
    <div class="col-md-8 d-none d-md-block ">
      <div class="text-center bg-primary text-white">Control de divisas</div>
      <table class="table text-white">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <div class="d-flex flex-column">
                <img
                  width="30"
                  src="https://i.pinimg.com/564x/3b/b0/fe/3bb0fea909943ab86d2c13c1a9688f42.jpg"
                  alt=""
                />
                <span>USD</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex flex-column">
                <img
                  width="30"
                  src="https://i.pinimg.com/564x/1b/68/d0/1b68d0a5ee5186705ab055026d03cdc2.jpg"
                  alt=""
                />
                <span>EUR</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex flex-column">
                <img
                  width="30"
                  src="https://i.pinimg.com/564x/31/af/2c/31af2cafbc3652efe4454e5c6f6a0d4e.jpg"
                  alt=""
                />
                <span>CNY</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex flex-column">
                <img
                  width="30"
                  src="https://i.pinimg.com/564x/3b/0e/8a/3b0e8a337f6d5af692eb4af96e907cc3.jpg"
                  alt=""
                />
                <span>BTC</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex flex-column">
                <img
                  width="30"
                  src="https://i.pinimg.com/564x/03/92/dd/0392ddadc31c52629d993960e1ce5dde.jpg"
                  alt=""
                />
                <span>ARS</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <img
                width="30"
                src="https://i.pinimg.com/564x/3b/b0/fe/3bb0fea909943ab86d2c13c1a9688f42.jpg"
                alt=""
              />
            </th>
            <td>1</td>
            <td>0,91</td>
            <td>6,89</td>
            <td>0,000034</td>
            <td>420</td>
          </tr>
          <tr>
            <th scope="row">
              <img
                width="30"
                src="https://i.pinimg.com/564x/1b/68/d0/1b68d0a5ee5186705ab055026d03cdc2.jpg"
                alt=""
              />
            </th>
            <td>0,91</td>
            <td>1</td>
            <td>7,55</td>
            <td>0,000037</td>
            <td>415</td>
          </tr>

          <tr>
            <th scope="row">
              <img
                width="30"
                src="https://i.pinimg.com/564x/31/af/2c/31af2cafbc3652efe4454e5c6f6a0d4e.jpg"
                alt=""
              />
            </th>
            <td>0,15</td>
            <td>0,13</td>
            <td>1</td>
            <td>0,0000049</td>
            <td>31,58</td>
          </tr>
          <tr>
            <th scope="row">
              <img
                width="30"
                src="https://i.pinimg.com/564x/3b/0e/8a/3b0e8a337f6d5af692eb4af96e907cc3.jpg"
                alt=""
              />
            </th>
            <td>29.339,40</td>
            <td>26.785,41</td>
            <td>202.031,11</td>
            <td>1</td>
            <td>12.380.556,68</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-4">
      <form class="card">
        <div
          class="card-body bg-primary bg-gradient gap-3 d-flex flex-column"
        >
          <div class="text-white">Conversor de Divisas</div>
          <div>
            <label for="amount" class="text-white-50">Cantidad</label>
            <input type="number" placeholder="Cantidad" name="amount" id="" />
          </div>
          <div>
            <label for="" class="text-white-50">De:</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>USD</option>
              <option value="1">BTC</option>
              <option value="2">EUR</option>
              <option value="3">JPY</option>
            </select>
          </div>
          <div>
            <label for="" class="text-white-50">A:</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>ARS</option>
              <option value="1">USD</option>
              <option value="2">BTC</option>
              <option value="3">JPY</option>
            </select>
          </div>
          <div class="bg-white">example</div>
          <button type="submit" class="bg-warning">Convertir</button>
        </div>
      </form>
    </div>
  </section>