<form class="form-inline d-flex py-3 mx-3 my-5 my-lg-0">
  <input
    class="form-control mr-sm-2"
    type="search"
    name="hol"
    placeholder="Search"
    [(ngModel)]="search"
    aria-label="Search"
  />

  <input
    type="button"
    value="Buscar"
    placeholder="Buscar"
    class="btn btn-outline-success my-2 my-sm-0"
    (click)="cargarMusicas()"
  />
</form>
<section class="row flex-column-reverse flex-md-row container">
  <div class="col-12 col-md-10 row row-cols-1 row-gap-md-5 row-cols-lg-3 m-auto">
    <div class="card shadow-lg" *ngFor="let song of musics">
      <div class="">
        <img class="object-fit-contain w-100 h-100" width="200" src="{{ song.image }}" alt="" />
      </div>
      <div>
        <span class="h4">{{ song.name }}</span>
        <p>{{ song.artist }}</p>
      </div>
      <div>
        <audio class="w-100" controls src="{{ song.play }}"></audio>
      </div>
    </div>
  </div>
  <div class="col-2 text-white">
    <img
      src="https://i.pinimg.com/564x/5a/da/69/5ada69a610b475fc5bb1ac329039a9a0.jpg"
      class="image"
      alt=""
    />
  </div>
</section>
