<section class="row flex-column-reverse flex-md-row container">
    <div class="col-11 row row-cols-1  row-cols-sm-2 row-cols-md-3">
      <div class="col-md-4">
        <div class="card">
          <img id="song-3-img" src="https://i.pinimg.com/564x/62/52/b4/6252b40097815194ba40b87212757375.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 id="song-3-title" class="card-title">quedate bizarrap</h5>
            <p id="song-3-album" class="card-text">quevedo</p>
            <a href="#" class="btn btn-primary">Escuchar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img id="song-3-img" src="https://i.pinimg.com/564x/03/5c/ab/035cab696170dba3262beb4b34f8d4e4.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 id="song-3-title" class="card-title">cro bizarrap</h5>
            <p id="song-3-album" class="card-text">bizarrap</p>
            <a href="#" class="btn btn-primary">Escuchar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img id="song-3-img" src="https://i.pinimg.com/564x/b4/05/a9/b405a9eadbf654272537deeea20ba6ab.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 id="song-3-title" class="card-title">aurora</h5>
            <p id="song-3-album" class="card-text">foo fighter</p>
            <a href="#" class="btn btn-primary">Escuchar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img id="song-3-img" src="https://i.pinimg.com/736x/25/8a/97/258a97cc502d67119f723fb84ba62fc6.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 id="song-3-title" class="card-title">sudestada</h5>
            <p id="song-3-album" class="card-text">gustavo cerati</p>
            <a href="#" class="btn btn-primary">Escuchar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img id="song-3-img" src="https://i.pinimg.com/564x/2d/e7/94/2de7949dd258420c4857f0e0e00dcdb3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 id="song-3-title" class="card-title">better man</h5>
            <p id="song-3-album" class="card-text"> Vitalogy</p>
            <a href="#" class="btn btn-primary">Escuchar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img id="song-3-img" src="https://i.pinimg.com/736x/06/a1/73/06a1734e2479ad655e7e407ef2922feb.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 id="song-3-title" class="card-title">bizarrap shakira</h5>
            <p id="song-3-album" class="card-text">shakira</p>
            <a href="#" class="btn btn-primary">Escuchar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 text-white">
      <img src="https://i.pinimg.com/564x/5a/da/69/5ada69a610b475fc5bb1ac329039a9a0.jpg" class="image" alt="">
    </div>
  </section>